<!-- add_lib.html -->
{% extends "management/base.html" %}
{% load static %}
{% block title %}Add Library{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text-center">Added Successfully</h2>
                    </div>
                {% endif %}
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-center">Add Library</h1>

                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">Library Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_name" required name="name" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_organization" class="col-md-3 control-label">Organization</label>
                        <div class="col-md-9">
                            <!-- Use a dropdown to select the organization -->
                            <select class="form-control" id="id_organization" name="organization" required>
                                {% for organization in organizations %}
                                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
